#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
  database:
    driver: pdo_mysql
    charset: utf8
    port: 3306
    prefix: flame_

  imageStorage:
    thumbDir: '/media/images_thumbnails'
    imageDir: '/media/images'
    importImageDir: '/media/imported_images'
    baseDir: %wwwDir%

  selenium:
    host: flame-cms.lc
    browser: firefox
    browserUrl: http://flame-cms.lc/
    # port: 4444

  theme:
    baseDir: %wwwDir%
    baseFolder: themes
    default: default

php:
  date.timezone: Europe/Prague
  zlib.output_compression: yes

doctrine:
  proxyDirs: [%appDir%/Models]
  connection: %database%

nette:
  container:
    debugger: false

  template:
    helperLoaders: [\Flame\Templating\Helpers]
    helpers:
      thumb: @ThumbnailsCreator::thumb

  application:
    mapping:
      *: Flame\CMS\*Module\*Presenter
    debugger: false

  session:
    autoStart: true
    expiration: 14 days
    name: FLAME